.shoppingCart {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f1f5f5;
}
.shoppingCart__container {
  display: flex;
  flex-direction: column;
}
.shoppingCart__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 25vh;
  min-height: 75vh;
}
.shoppingCart__List {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shoppingCart__ListPresent {
  width: 100%;
}

.shoppingCart__bannerContainer {
  position: sticky;
  top: 10vh;
  width: 70rem;
  height: 15vh;
  z-index: 10;
}

.shoppingCart__banner {
  height: 15vh;
  width: 70rem;
  position: sticky;
  top: 10vh;
  z-index: 10;
}

.shoppingCart__summary {
  flex: 0.39;
  height: 75vh;
  top: 25vh;
  position: sticky;
  z-index: 10;
}
