.admin__body {
  display: flex;
  justify-content: space-evenly;
  background-color: #f1f5f5;
}

.admin__showcase {
}

.admin__form {
  height: 85vh;
  position: sticky;
  top: 13.5vh;
  display: flex;
  align-items: center;
}
