.orderDetails {
  background-color: #3b3b3b;
  height: auto;
  transition: height 0.3s ease-out;
  border-radius: 0px 0px 10px 10px;
}

.NO_DETAILS {
  display: none;
}

.orderDetails__products {
  display: flex;
  background-color: #3b3b3b;
  flex-direction: row;
}
