@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  font-family: 'PT Sans', sans-serif;
}

.modal__container {
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-between;
  width: 80%;
  height: 80vh;
  margin-top: -60vh;
  opacity: 1;
}

.modal__imageContainer {
  height: 80vh;
  width: 35rem;
}

.modal__image {
  height: 80vh;
  width: 35rem;
}

.modal__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.modal__title {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 800;
  color: #3b3b3b;
}

.modal__price {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 1rem;
  color: #ef802f;
}

.modal__Category {
  font-size: 1.1rem;
  padding-left: 1rem;
  font-weight: 600;
  color: #3b3b3b;
  margin-top: 1rem;
}

.modal__description {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  color: #3b3b3b;
}
.modal__descriptionTitle {
  font-weight: 800;
  font-size: 1.3rem;
}
.modal__buttons {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.SHOW {
  margin-right: 1rem;
}

.DONT__SHOW {
  display: none;
}
