@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.navbar {
  background-color: #121212;
  height: 10vh;
  top: 0;
  position: sticky;
  z-index: 100;
  font-family: 'Libre Baskerville', serif;
}

.navbar__container {
  display: flex;
  align-items: center;
}

.navbar__logo {
  flex: 1;
  padding-left: 4rem;
}

.navbar__element {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0rem 2rem;
  color: #f5f5f5;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.navbar__element:hover {
  color: #f15a5a;
}

.navbar__element p {
  padding-left: 0.7rem;
}

.navbar__elementText {
  padding-left: 0.3rem;
}

.greet__text {
  font-size: 0.5rem;
}
