@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
.cartSummary {
  background-color: #3b3b3b;
  color: #ffcc55;
  font-family: 'Averia Serif Libre', cursive;
  position: absolute;
  width: 100%;
  top: -30rem;
  opacity: 0;
}

.cartSummary__container {
  padding: 1.5rem;
}

.cartSummary__title {
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid;
  border-color: #3b3b3b;
  display: flex;
  align-items: center;
}

.cartSummary__titleText {
  padding-left: 0.3rem;
}

.cartSummary__promoCodeAd {
  padding: 0.7rem 1rem;
  font-size: 0.7rem;
  text-decoration: underline;
  border-bottom: 1px solid;
  border-color: #3b3b3b;
}

.cartSummary__items {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #3b3b3b;
}

.cartSummary__subtotal {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #3b3b3b;
}

.cartSummary__shipping {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #3b3b3b;
}

.cartSummary__tax {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #3b3b3b;
}

.cartSummary__total {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #3b3b3b;
}

.cartSummary__button {
  padding: 1rem;
  text-decoration: none;
}
