@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.ProductCard {
  margin: 0.7rem;
  opacity: 0.5;
  display: flex;
  transition: all 0.5s ease-in-out;
  width: 35rem;
}

.ProductCard:hover {
  transform: scale(1.05);
}

.ProductCard__card {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  color: #3b3b3b;
  width: 100%;
  box-shadow: 0px 0px 2px 0.8px #121212;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.ProductCard__card:hover {
  transform: scale(1.1);
}

.ProductCard__card:hover .ProductCard__image {
  transform: scale(1.4);
}

.ProductCard__imageContainer {
  height: 20vh;
  width: 10rem;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
  overflow: hidden;
}

.ProductCard__image {
  height: 20vh;
  width: 10rem;
  border-radius: 10px 0px 0px 10px;
  transition: all 0.3s ease-in-out;
}

.ProductCard__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 0.5rem;
  font-family: 'PT Sans', sans-serif;
}

.ProductCard__titleSection {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-bottom: 2px solid;
  border-color: #121212;
}
.ProductCard__title {
  font-weight: bold;
  padding: 0.25rem;
  font-family: 'PT Sans', sans-serif;
}

.ProductCard__priceSection {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-bottom: 2px solid;
  border-color: #121212;
}

.ProductCard__price {
  font-weight: bold;
  padding: 0.5rem;
  font-family: 'PT Sans', sans-serif;
}

.ProductCard__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 1rem;
}
