@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

.admin__main {
  display: grid;
  place-items: center;
  /*background-color: #f7f7f7;*/
  height: 100vh;
  overflow: hidden;
}
.login__container {
  padding: 4rem 3.5rem 3rem 3.5rem;
  text-align: center;
  background-color: #3b3b3b;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.1rem 0.1rem;
  margin-bottom: 10vh;
}

.admin__main__text {
  padding: 2rem;
  font-family: 'Averia Serif Libre', cursive;
  color: #f7f7f7;
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #0a8d48 !important;
  color: white;
}

.admin__Link {
  text-decoration: none;
}

.admin__imageContainer {
  margin: -100vh;
  z-index: -100;
}
.admin__image {
  margin: -100vh;
  z-index: -100;
}
