@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.admin__main {
  display: grid;
  place-items: center;
  background-color: #f1f1f1;
  height: 100vh;
}
.login__container {
  padding: 4rem 3.5rem 3rem 3.5rem;
  text-align: center;
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35), 0 1rem;
}

.admin__main__text {
  padding: 2rem;
  font-family: 'Ubuntu Condensed', sans-serif;

  color: #f5f5f5;
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #0a8d48 !important;
  color: white;
}

.admin__Link {
  text-decoration: none;
}
