@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.newProduct {
  margin: 3rem;
  background-color: #3b3b3b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f7f7;
  padding: 1rem;
  box-shadow: 0px 0px 1px 0.8px #121212;
  width: 30rem;
}

.newProduct__header {
  padding: 8px;
  font-size: 1.5rem;
  color: #f7f7f7;
  border-bottom: 2px solid;
  border-color: #3b3b3b;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

.newProduct__form {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.newProduct__inputSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.newProduct__inputLabel {
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
  color: #f7f7f7;
  font-weight: 600;
}

.newProduct__input {
  margin-top: 4px;
  min-width: 18em;
  height: 25px;
  padding: 0px 10px;
  font-size: 0.9rem;
  font-family: 'PT Sans', sans-serif;
  background-color: #f7f7f7;
  border-radius: 4px;
  margin-bottom: 1.2rem;
  transition: all 250ms ease-in-out;
}

.newProduct__input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #f7f7f7;
}

.newProduct__addButton {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
  color: #3b3b3b;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.newProduct__addButton:hover {
  border: 1px solid #f7f7f7;
  background-color: #3b3b3b;
  color: #f7f7f7;
}

.newProduct__addButton:focus {
  outline: none;
}

.newProduct__imagePreviewContainer {
  height: 15vh;
  width: 7rem;
  border-radius: 10px 10px 10px 10px;
  background-color: #f1f5f5;
  transition: 0.3s ease-in-out;
}

.imagePreview {
  height: 15vh;
  width: 7rem;
  border-radius: 10px 10px 10px 10px;

  /*border-radius: 10px 10px 10px 10px;*/
}

.newProduct__buttonInput {
  height: 14.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.newProduct__formButtonSection {
  margin-top: 4.3rem;
}
