.admin__OrderPage {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  background-color: #f1f1f1;
  min-height: 90vh;
}

.admin__OrderPageContainer {
  width: 50vw;
}
